@import "colors";

body {

  font-family: 'Titillium Web', sans-serif;
  background-color: #454545;
}

.view {
  background-color: red;
}

.trendone-page-section {
  img {
    float: left;
    margin: 1rem;
  }
}

.navbar-dark {
  .navbar-nav {
    a.nav-link {
      color: $clYellow;
    }
  }
}

section {
  margin: 0 !important;
}

.fntSmall {
  font-size: 0.7em;
}

.navbar-dark .navbar-nav .active>.nav-link {
  color: $clYellow;
  font-weight: bold;
  border-bottom: 1px solid $clYellow;
}

.mainMenu {
  white-space: nowrap;
}



.to-logo {
  img {
    max-width: 15rem;
  }
}

.clWhite {
  color: #fff !important;
}


.searchBox {
  input {
    height: 70%;
    width: auto;
    &:focus {
      outline: none;
    }
    border: none;
  }
  a {
    color: $clDark;
  }
}

.firstSection {
  margin-top: 1rem;
}

.carousel-item {
  background-color: black;
}

.scSlider2 {
  height: 240px;
}

.trendone-page-widgets {
  .container {
    border: 1px solid $clGrey_c9;
    border-radius: .25rem;
    padding-top: 1rem;
    padding-right: 1rem;
  }
}

.trendone-blog-posts {
}

.trendone-content {
  margin-top: 0 !important;
  padding-top: 2rem;
  background-color: white;
 a {
   color: $clGrey_5e;
 }
}