.trendone-cards {
  /*
  .card-group {
    padding-right: 0 !important;
  }
  */

  .card {
    border: none !important;
    height: 24rem;


  }
  .card-body {
    border: none !important;

    img {
      max-height: 22rem;
    }

  }
  .card-footer {
    background-color: transparent;
    border-top: none !important;
  }

}
