.trendone-content {
  line-height: 2rem;
  text-align: justify;
  img {
    max-width: 100%;
    height: auto;
  }

  h3 {
    font-weight: bold;
    font-family: "Arial";
  }

  .read-more-link {
    font-weight: bold;
  }

  .trendone-article-list {
    .row {
      margin-bottom: 7rem;
    }
  }
  .coauthor-display {
    a {
      font-family: Impact, serif;
      font-size: 1.1rem;
      text-transform: uppercase;
    }
  }
}