@import "colors";

body {

  font-family: 'Titillium Web', sans-serif;
  background-color: #454545;
}

.view {
  background-color: red;
}

.bgDark {
  background-color: $bgDark;
}

.bgGreyLight {
  background-color: #b4b4b4;
}

.navbar-dark {
  .navbar-nav {
    a.nav-link {
      color: $clYellow;
    }
  }
}

.fntSmall {
  font-size: 0.7em;
}

.navbar-dark .navbar-nav .active>.nav-link {
  color: $clYellow;
  font-weight: bold;
  border-bottom: 1px solid $clYellow;
}

.mainMenu {
  white-space: nowrap;
}

.clYellow {
  color: $clYellow;
}

.fwBold {
  font-weight: bold;

}

.bgYellow {
  background-color: $clYellow !important;
}

.to-logo {
  img {
    max-width: 15rem;
  }
}

.clWhite {
  color: #fff !important;
}


.searchBox {
  input {
    height: 70%;
    width: auto;
    &:focus {
      outline: none;
    }
    border: none;
  }
  a {
    color: $bgDark;
  }
}

.firstSection {
  margin-top: 1rem;
}

.carousel-item {
  background-color: black;
}