$heroColor: #ccc;
$footerHeight: 80px;

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: $footerHeight;
}

.trendone-hero {
  background-color: $heroColor;
  margin-bottom: 4rem;
}

.trendone-cards {
  .card-footer {
    background-color: #fff;
    border-top: none;
  }
  padding-bottom: 2rem;
}

.footer {
  width: 100%;
  position: absolute;
  bottom:0;
  height: $footerHeight;
  background-color: $heroColor;
}

.trendone-footer-menu {
  margin: 0 auto;
  div.menu-menu-stopka-container {
    text-align: center;
    ul {
      margin: auto;
      display: inline-table;
      li {
        display: inline;
        float: left;
        list-style-type: none;
        margin: 2rem 1rem;
        a {
          color: #4c4c4d;
        }
      }
    }
  }
}