.trendone-cards {
  .cardPresentation {
  }



}
.card {
  border: none !important;
  height: 26rem;

}
.card-body {
  border: none !important;

  img {
    max-height: 22rem;
  }

}
.card-footer {
  background-color: transparent;
  border-top: none !important;
}