.contact-form {
  width: 100%;
  label {
    width: 100%;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    min-width: 100%;
  }

  input[type="text"],
  input[type="email"] {
    height: 3rem;
  }
  input[type="submit"] {
    background-color: #4F800D;
    border: 1px solid #ccc;
    width: 5rem;
    height: 3rem;
    border-radius: 5px;
    color: #fff;
  }
}