@import "variables";
//Variables
$border-radius: 6px 0 6px 6px;

//SCSS
.navbar-brand {
  img {
    width: 250px;
    height: auto;
  }
}

.dropdown-submenu {
  position: relative;
  > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: -1px;
  }
  &:hover {
    > .dropdown-menu {
      display: block;
    }
    > a:after {
      border-left-color: #fff;
    }
  }
  > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right-width: 0;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -3px;
  }
  &.pull-left {
    float: none;
    > .dropdown-menu {
      left: -100%;
      margin-left: 10px;
      //-webkit-border-radius: $border-radius;
      //-moz-border-radius: $border-radius;
      border-radius: $border-radius;
    }
  }
}

.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: 3rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 370px;
  background-color: #777;
}

.carousel-item > img {
  position: absolute;
  min-width: 100%;
  height: auto;
}

ul.navbar-nav {
  &>li {
    padding: 1em;
    &:hover {
      border-bottom: 3px solid $linkGreen;
    }
  }
}

.about-me {
   text-align: justify;
 }